<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>投稿一覧</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>

<% provide(:title, "Home") %>
<h1>ようこそようこそようこそ</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "新規登録", "#", class: "btn btn-lg btn-primary" %>
<%= link_to "ログイン", "#", class: "btn btn-lg btn-primary" %>
<%= link_to "テストユーザーでログイン", "#", class: "btn btn-lg btn-primary" %>
<% end %>
